#ifndef __PRIVATE_CONFIG_H__
#define __PRIVATE_CONFIG_H__

#include <Arduino.h>

#define APP_NAME "WiFi OpenHAB Socket"
#define APP_VERSION "2.0.4"
#define APP_AUTHOR "Dr. Thorsten Ludewig <t.ludewig@gmail.com>"

#define WIFI_SSID "SSID"
#define WIFI_PWD "PASS"

#define ALEXA_ENABLED true
#define ALEXA_DEVICENAME "Steckdose"

#define OTA_HOSTNAME "wifi-socket-%08x"
#define OTA_PASSWORD "otapass"

#define OHAB_HOST "192.168.1.1"
#define OHAB_PORT 80

// #undef OHAB_USE_AUTH if your OpenHAB server does not need authentication
#define OHAB_USE_AUTHENTICATION false

// #undef OHAB_DISABLE_CALLBACK if you like to callback the power button
// trigger to OpenHAB
#define OHAB_ENABLE_CALLBACK false

// If you don't know how to create the basic auth credentials string
// you can use:
// https://www.blitter.se/utils/basic-authentication-header-generator/
//
#define OHAB_CREDENTIALS "SGFsbG86V2VsdA=="

// OpenHAB Switch Item to trigger
#define OHAB_ITEM "pOD_Licht"

#endif
